@font-face {
    font-family: 'Replica Bold';
    src: local('Replica Bold'), url(../fonts/Replica-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Replica Regular';
    src: local('Replica Regular'), url(../fonts/Replica-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Replica Light';
    src: local('Replica Light'), url(../fonts/Replica-Light.ttf) format('truetype');
}
